[2021-11-23 17:00] mohit200008 opened #1 "Make the site responsive for all screen sizes"
Make the project responsive for all screen sizes and make sure that in mobile the navbar content must be clearly visible

[2021-11-23 17:02] mohit200008 opened #2 "Add the bootstrap cdn"
Add  the bootstrap cdn

[2021-11-23 17:10] mohit200008 opened #3 "Add a carousel on the home page with photos related to medical"

[2021-11-23 17:10] #3 closed

[2021-11-23 17:12] mohit200008 opened #4 "Add a carousel on the home page with the pictures related to medical"

[2021-11-23 17:15] mohit200008 opened #5 "Change the react icon on the top to a medical related icon"

[2021-12-06 04:52] SachinMittal1766 commented on #5
I would like to work on this. Pls assign it to me @mohit200008

[2021-12-06 05:38] artimanputra commented on #4
I would like to work on this issue, Can you assign it to me?

[2021-12-06 06:56] suyogkokaje commented on #2
Hello @mohit200008 I would like to work on this issue. Could you  please assign this issue to me?

[2021-12-06 08:47] SachinMittal1766 opened #6 "Improving CSS"
Images and text are not styled. I would like to work on it. Pls assign it to me @mohit200008

[2021-12-06 10:45] mohit200008 opened #7 "The map is not working as expected"
Remove the google api and make use of leaflet to show the map. Or change the google API so its able to show the locations.

[2021-12-06 10:47] mohit200008 commented on #5
Sure @SachinMittal1766  go ahead

[2021-12-06 10:51] mohit200008 commented on #2
Yeah @suyogkokaje  go ahead

[2021-12-06 10:52] mohit200008 commented on #4
@artimanputra  yes go ahead

[2021-12-06 11:00] mohit200008 commented on #6
After you complete the previous Issue , You can Work  on this issue because one person per issue at a time

[2021-12-06 11:02] mohit200008 opened #8 "Convert class Component into functional Component"
Convert the class components into functional components where ever-present and make sure that the application works without any errors.

[2021-12-06 11:06] KhushiTayal commented on #1
@mohit200008 I want to work on this issue. Please assign it to me.

[2021-12-06 11:14] mohit200008 commented on #1
Yes you can @KhushiTayal

[2021-12-06 11:15] SachinMittal1766 commented on #5
Icon Design @mohit200008
![Medi-Care Logo](https://user-images.githubusercontent.com/82721772/144836695-8ecf56a1-dd49-4df3-b852-178a4bd71cd8.png)

[2021-12-06 11:28] aksh-hash commented on #7
Sir, I can work on this.

[2021-12-06 11:40] 25-vidushi commented on #6
@mohit200008 I would like to work on this issue. Please assign it to me.

[2021-12-06 12:08] mohit200008 commented on #7
yes @aksh-hash  go for it

[2021-12-06 12:10] aksh-hash commented on #7
Thank you sir , I'll work my level best.

On Mon, Dec 6, 2021 at 5:38 PM MOHIT LAMBA ***@***.***> wrote:

[2021-12-06 12:52] mohit200008 commented on #5
Can you apply and send a sc just to see how it looks

[2021-12-06 12:53] mohit200008 commented on #1
The work will be in bootstrap so work according to that

[2021-12-06 17:21] shobhit10058 commented on #8
I saw that only Doctor component is class based. I have converted it to functional component. Can you assign me this?

[2021-12-06 17:37] mohit200008 commented on #8
is it working
can you show a working demo without sound???

[2021-12-06 18:14] shobhit10058 commented on #8
The google map is constant reloading presently. Other things are working as before. [video_link](https://drive.google.com/file/d/1VX2hKmadTwBgml7aL73ITf7NpZJTmEzi/view?usp=sharing)

[2021-12-06 18:27] mohit200008 commented on #8
looks good

[2021-12-06 19:53] Ag-626 commented on #6
@mohit200008 I would like to work on this issue. Please assign it to me if possible

[2021-12-06 20:16] #2 closed

[2021-12-07 04:54] SachinMittal1766 commented on #5
I searched in every folder but didn't get the favicon folder. Would you @mohit200008 please tell me where it is?

[2021-12-07 05:32] mohit200008 commented on #5
Public folder / index.html

[2021-12-07 05:47] SachinMittal1766 commented on #5
![Screenshot (709)](https://user-images.githubusercontent.com/82721772/144973590-0874c621-0c8d-4e00-8ff6-629f29815ecd.png)
This is the look of icon after applying.

[2021-12-07 21:10] #8 closed

[2021-12-07 21:17] mohit200008 commented on #5
Can you show some other examples too ???

[2021-12-07 21:18] mohit200008 commented on #5
And can you apply some border-radius on this one, The corners can be a little curved

[2021-12-07 21:19] mohit200008 commented on #6
@25-vidushi  yes go ahead

[2021-12-07 21:20] shobhit10058 opened #12 "a and href is used instead of link to of react router dom"
In Doctor component, a and href are used to load details. Link to can be used to render details without re-loading the page.

[2021-12-07 21:24] shobhit10058 commented on #12
I have fixed it but map is giving issues but the navigation can be done using Link to.

[2021-12-07 21:25] mohit200008 opened #13 "BMI suggestions are same for all BMIs"
When a user calculates the BMI , He/She should get different suggestions according to the BMI. And also if a user is obese there should be a warning in Red showing that the user is obese.

[2021-12-07 21:25] mohit200008 commented on #12
Can you fix the map issue ??

[2021-12-07 21:26] shobhit10058 commented on #12
I don't know about it but I will try.

[2021-12-07 21:34] mohit200008 commented on #12
Are you contributing under KWOC ??

[2021-12-07 21:34] shobhit10058 commented on #12
yes

[2021-12-07 21:59] mohit200008 commented on #12
have you joined the discord channel ?

[2021-12-07 22:00] shobhit10058 commented on #12
yes

[2021-12-08 03:51] suyogkokaje commented on #4
Hello @mohit200008 I would like to work on this issue. Could you please assign this issue to me?

[2021-12-08 05:18] SachinMittal1766 commented on #5
![Medi CAre](https://user-images.githubusercontent.com/82721772/145152195-ad4e84a7-2623-4192-b33c-872426e3ffde.png)
![Medi CAre (1)](https://user-images.githubusercontent.com/82721772/145152537-0f04bc01-32ab-4d3e-ba2d-9df175b96153.png)
Some more designs

[2021-12-08 07:59] mohit200008 commented on #5
apply the red one

[2021-12-08 08:02] mohit200008 commented on #4
@artimanputra  is working on this one, You can look for another issue for now.

[2021-12-08 08:32] mohit200008 opened #14 "Normal reports missing"
When predicting a disease like Heart disease or Kidney disease and the user enters the values , A report is shown but For normal values it shows NA. That column should show the normal values of the respective parameter.

[2021-12-08 12:13] Aniket-508 commented on #14
@mohit200008 Can I work on this issue?

[2021-12-08 12:15] Aniket-508 commented on #14
By the way, I think I have to just research the normal values and then accordingly update them in the result.html files of respective diseases, correct?

[2021-12-08 13:24] artimanputra opened #17 "Add footer"
Can I add a footer to the website? Could You please assign it to me?

[2021-12-08 13:28] mohit200008 commented on #17
Sure @artimanputra  you can add one

[2021-12-08 13:30] mohit200008 commented on #14
This is a react project and the prediction files are present seperately in the project.
You could apply it and then show a ss to understand what you're trying to say

[2021-12-08 13:33] #5 closed

[2021-12-08 13:39] artimanputra commented on #17
@mohit200008 Shall I add in the home page only?

[2021-12-08 14:09] mohit200008 commented on #17
It should be there on every site. Make sure the colour scheme goes with the overall layout. And if you want any text or info about the site, you can refer the readme of the project

[2021-12-08 14:12] artimanputra commented on #17
Sure

[2021-12-08 14:22] Aniket-508 commented on #14
Ohh I thought you were the static NA values in the Normal Values coming from reuslt.html

[2021-12-08 14:32] mohit200008 commented on #14
Yes i am talking about that only

[2021-12-08 14:34] mohit200008 commented on #14
we have to add the normal values and compare with the entered values to determine the result. You job is to just put the normal values there , but the values must be accurate and correct

[2021-12-08 15:25] #7 closed

[2021-12-08 15:25] Aniket-508 commented on #14
![12](https://user-images.githubusercontent.com/71957423/145234913-b863c921-38d6-48db-8256-22a4cd52b3c0.JPG)
![13](https://user-images.githubusercontent.com/71957423/145234921-e18a9d5f-65ae-4ffb-9cb1-1250faa49a18.JPG)
 I have to edit this right??

[2021-12-08 15:25] mohit200008 commented on #7
This issue has been fixed

[2021-12-08 15:38] mohit200008 commented on #14
yup

[2021-12-08 16:26] mohit200008 opened #19 "Enable typing and speech recognition in the chatbot"
The chatbot is made from react simple chatbot library. User should be able to type his/her text and Also enable enable speech recognition. And when user  calculates the smartBMI through the chatbot, after he selects know more It should be redirected to the result of the entered credentials.

[2021-12-08 16:27] mohit200008 commented on #19
refer https://lucasbassetti.com.br/react-simple-chatbot/#/docs/installation for help

[2021-12-09 03:59] SachinMittal1766 commented on #6
@mohit200008 I am done with my previous work. Can I start working on this issue?

[2021-12-09 08:02] mandiraghosh783 opened #20 "Beautify README.md"
I want to make the README beautiful by adding few emojis and there are some spelling errors too. Can i modify them?? Can  you pls assign it to me?

[2021-12-09 09:22] #12 closed

[2021-12-09 09:29] mandiraghosh783 opened #22 "Add "How To Contribute" in README.md"

[2021-12-09 09:31] mandiraghosh783 commented on #22
@mohit200008 can you pls mention what all i have to add in here?

[2021-12-09 09:32] mandiraghosh783 commented on #22
Once i get to know what i have to write, I will format it and add it in the README.me

[2021-12-09 09:45] mohit200008 commented on #6
The navbar should be visible even if the user has scrolled down .

[2021-12-09 09:45] mohit200008 commented on #6
@SachinMittal1766  you can work on it

[2021-12-10 12:13] #22 closed

[2021-12-10 13:18] mohit200008 opened #25 "Create DB for storing doctor's information."
Store the doctor Information asked and get the information from the database accordingly. It should have doctor's name , age , Years of experience , review for this doctor , Area of specialization, Phone number and Address of the doctor.

[2021-12-10 13:20] mohit200008 opened #26 "Create a form for adding a doctor."
Create a form on the Health page for adding a doctor. It should have doctor's name , age , Years of experience , review for this doctor , Area of specialization, Phone number and Address of the doctor. Only frontend has to be made.

[2021-12-10 15:33] kunal-umap commented on #26
I want to work on this Issue , Would you please assign me ??

[2021-12-10 17:48] mohit200008 commented on #26
go ahead @kunal-umap

[2021-12-11 10:23] kunal-umap commented on #26
yes !

[2021-12-11 11:57] kunal-umap commented on #26
Would all field need to be mandatary ??

[2021-12-11 17:10] mohit200008 commented on #26
Not all fields, but the name ,the rating , and area of specialization

[2021-12-11 17:12] mohit200008 commented on #26
The sequence can be anything no restrictions on that. But the name ,age, area of specialization should be first and then the rest.

[2021-12-11 21:00] #4 closed

[2021-12-11 21:01] mohit200008 opened #27 "Update Readme with the new screenshots"
Update the readme with the new screenshots samples of the website, Make sure the sc should be clear and cropped.

[2021-12-11 23:01] mohit200008 opened #28 "Redesign the navbar"
The navbar should be redesigned according to the color scheme of the page and it should  be visible even after the user scrolls down.

[2021-12-11 23:03] mohit200008 opened #29 "Add dark and light mode"
There should be a toggle button at top left or right,  to switch to dark and light mode. And it should be reflected on the whole site.

[2021-12-12 08:01] suyogkokaje commented on #28
Hello @mohit200008 I would like to work on this issue. Could you please assign this issue to me?

[2021-12-12 08:17] Harshil-Jani commented on #29
Yo ! I want to work on this thing.

[2021-12-12 09:32] akj0712 commented on #29
I want to work on this Issue , Would you please assign me ??

[2021-12-12 10:24] mohit200008 commented on #29
sure @akj0712  go ahead

[2021-12-12 10:25] mohit200008 commented on #28
sure @suyogkokaje  go ahead

[2021-12-12 13:12] siddiq-1018 commented on #27
@mohit200008 Can you please assign this issue to me?

[2021-12-12 17:39] mohit200008 commented on #27
go ahead @siddiq-1018

[2021-12-12 19:27] #25 closed

[2021-12-12 19:29] mohit200008 opened #30 "Backend for storing the doctor's information"
Create the backend for storing the data for doctor's information using flask in python.

[2021-12-12 19:29] mohit200008 commented on #17
@artimanputra  is the footer done ????

[2021-12-12 21:04] kapoor-hub opened #31 "News on Disease Prediction page"
Just imagine when user open disease prediction page he/she can see some news how many people died and suffers alot because of some disease they don't even know about and they can cure it if they know about that disease at early stage. Because of this people will take the problem and advise a little bit serious. These news pop up will come on the left side of the disease prediction page where . I w

[2021-12-13 03:37] artimanputra commented on #17
Yup, working on that.

[2021-12-13 11:14] mohit200008 commented on #31
On the disease prediction page, news can be displayed And the cards for the disease prediction can be below the news portion in a horizontal direction with an improved CSS.
Above the cards the news can be displayed covering the whole page.
You can implement it @kapoor-hub

[2021-12-13 11:43] mohit200008 opened #33 "Hindi page similar to English home page"
The Hindi language page should be similar to the English page,  Including all the photos(can be different) in carousel , The CSS and everything just the language should be changed to Hindi

[2021-12-13 12:13] kunal-umap commented on #26
![image](https://user-images.githubusercontent.com/80446986/145810121-fb4c6496-0205-400c-9967-78aca62f7704.png)

 Is it ok , should I create pull request ?

[2021-12-13 13:00] suyogkokaje commented on #28
I am unable to resolve this issue. Sorry for inconvenience 😔.

[2021-12-13 20:52] mohit200008 opened #35 "Doctor cards must be present on different page"
The doctor cards Must be present on a separate page And Each doctor will be listed there and the user will be able to filter based on the specialization of the doctor.

[2021-12-13 21:33] qadirpervez commented on #33
Hello @mohit200008 can you please explain a little more, I would like to do it

![image](https://user-images.githubusercontent.com/14182769/145892186-ba4e4b50-7e75-4870-9283-ae5b7a1306b6.png)

the site is already multilingual. Do you want the navigation to be changed?

[2021-12-14 10:13] kapoor-hub commented on #31
[image: proto.png]
sir i have imagined this type of page layout on the upper side news will be
shown under that disease prediction option will appear. Are u comfortable
with that ignore the black color.

On Mon, 13 Dec 2021 at 16:44, MOHIT LAMBA ***@***.***> wrote:

[2021-12-14 10:33] mohit200008 commented on #33
Change the photos and CSS similar to the English home page
You can use photos related to medical  or the same photos but it should be relevant

[2021-12-14 10:34] mohit200008 commented on #33
And yes it would be better if the navigation on the hindi page is in hindi too

[2021-12-14 10:34] mohit200008 commented on #33
You can work on it @qadirpervez

[2021-12-14 10:41] mohit200008 commented on #31
image is not visible can you connect on discord

[2021-12-14 10:50] kapoor-hub commented on #31
i tried it previously but it shows invite is expired.

On Tue, 14 Dec 2021, 16:11 MOHIT LAMBA, ***@***.***> wrote:

[2021-12-14 10:52] mohit200008 commented on #26
->The area of specialization will be dropdown having the various options
-> And the form is quite big , leave some space from all sides
->Can you make this form appear as when someone clicks on add doctor on the health page , this form comes up and the rest content behind it is blurred and this form appears with a transition ease in and out.
->Also the input bars are big which takes away the  simp

[2021-12-14 10:53] mohit200008 commented on #26
Work On these points and if you have any doubts you can connect with me anytime

[2021-12-14 18:42] mohit200008 commented on #31
https://discord.gg/YDFUs5E9

[2021-12-14 18:42] mohit200008 commented on #31
You can connect on this

[2021-12-14 21:38] qadirpervez opened #37 "Missing Dev Script in package.json"
`npm run dev` is missing from `package.json` file and it is mentioned in the `README.md`

### solution
Update the `README.md` or add a new script in `package.json`

[2021-12-15 03:17] kapoor-hub commented on #31
sir currently my internal tests are going on i will give you all updates
tomorrow. is it ok.

[2021-12-15 15:33] kunal-umap commented on #26
https://user-images.githubusercontent.com/80446986/146215386-2b62c00c-7dba-491f-a182-e40c525f9c62.mp4

What changes should I make now In this ??
And What are the Drop Down

[2021-12-15 17:21] mohit200008 commented on #26
Dropdown down options you can enter 4 to 5 options , areas of specializations and this button has to be on the health page where doctors are present . also there can be some transition when the form opens it will look good.And the area of specialization is appearing 2 times. It just has be  a dropdown.

[2021-12-16 00:03] #37 closed

[2021-12-16 09:38] mohit200008 commented on #31
yes

[2021-12-16 20:14] mohit200008 commented on #14
@Aniket-508  any update about this ???

[2021-12-16 20:17] mohit200008 opened #42 "The doctor page has to be a seperate page"
The doctor page has to be a separate page listing all the doctors which will be added by a form provided.
![112758617-eb806680-900c-11eb-8d41-c7abc9504347](https://user-images.githubusercontent.com/56565813/146443046-4f462612-79a1-44f3-a784-e4bc57794c12.png)

Cards having doctors info should be like this

[2021-12-16 20:18] mohit200008 commented on #42
On the seperate page only the doctors should be shown and a link on navbar also should be shown

[2021-12-16 20:19] mohit200008 commented on #31
@kapoor-hub  when you're done share the photo here or on discord

[2021-12-16 21:48] RahulSharma4329 commented on #30
I would like to work on this issue can you assign it to me

[2021-12-17 18:28] mohit200008 commented on #30
yes @RahulSharma4329  go ahead

[2021-12-17 22:12] kapoor-hub commented on #31
sry i m unable to do this sry for inconvenience.

[2021-12-17 23:00] RahulSharma4329 commented on #30
please assign this issue to me and can i get the list of informations which has to be stored

[2021-12-18 08:23] mohit200008 commented on #30
You can refer issue number 26 for the fields

[2021-12-18 09:32] kunal-umap commented on #26
https://user-images.githubusercontent.com/80446986/146636411-c254b2ee-193f-49de-a633-821f91a5888b.mp4

Now is it Ok ?

[2021-12-18 10:57] mohit200008 commented on #26
yes

[2021-12-18 11:00] #33 closed

[2021-12-19 10:17] Aniket-508 commented on #29
@mohit200008 Can you assign me this? It's more than 7 days for previous assignee

[2021-12-19 11:21] mohit200008 commented on #29
go ahead @Aniket-508

[2021-12-21 18:58] mohit200008 opened #45 "Redesign the disease prediction page"
The cards for predictions have to be positioned and they can be in form of square cards.

[2021-12-22 12:40] aniketpathak028 commented on #28
Hey @mohit200008, I feel I can resolve this issue, can you assign this to me?

[2021-12-22 12:42] mohit200008 commented on #28
sure @aniketpathak028  go ahead

[2021-12-22 19:48] #28 closed

[2021-12-23 07:18] simran2712 commented on #45
Hii, I request you to please assign this issue to me..

[2021-12-23 08:33] mohit200008 commented on #45
Sure @simran2712  go ahead

[2021-12-23 12:19] #26 closed

[2021-12-26 15:10] 777ahesh commented on #1
@mohit200008  can i work on this issue

[2021-12-26 16:16] mohit200008 commented on #1
Yes go ahead @777ahesh

[2021-12-26 21:30] mohit200008 commented on #29
any update on this @Aniket-508 ???

[2022-01-01 03:36] mohit200008 commented on #45
Any update on this @simran2712

[2022-01-02 08:53] simran2712 commented on #45
Sir, I'm unable to understand what exactly has to be modified. If possible, tell me about the modifications, I'll definitely do it

[2022-01-02 09:23] mohit200008 commented on #45
You can make use of the white space and put a carousel with pictures related to diseases and medical. And below that the cards can be present in horizontal alignment and to be designed and animated such that it looks more appealing.

[2022-01-04 08:42] snahashisk commented on #42
I would like to work on this. Please assign me this @mohit200008

[2022-01-05 11:17] nawed2611 commented on #45
Hi! Is this issue still open? I wanted to work on it.

[2022-01-06 03:57] mohit200008 commented on #45
YES YOU CAN WORK ON IT @nawed2611  THE ISSUE IS OPEN BUT KWOC IS OVER NOW

[2022-01-09 13:45] nawed2611 commented on #45
On it!

[2022-01-11 10:56] nawed2611 commented on #45
Kindly review #48

[2022-01-28 20:13] DawoodBhai420 opened #49 "Add Brain tumor Detection"
I can add a feature of brain tumor detection in Smart AI Disease Detection, which will let the user upload an MRI scan of the brain will detect if it is a healthy brain or a brain with a tumor.
I will train the CNN using data set on kaggle.

[2022-01-28 20:24] mohit200008 commented on #49
can you do it with every other predictions too ????

[2022-01-28 20:27] mohit200008 commented on #49
If you can do it then you can take up this issue

[2022-01-29 17:08] DawoodBhai420 commented on #49
I can train the model with great accuracy, but I am unable to deploy it. I would appreciate it if someone having knowledge of deployment and web dev will take care of that.

[2022-01-29 17:43] mohit200008 commented on #49
Okay you can take up this issue @DawoodBhai420

[2022-01-30 20:08] sajdakabir commented on #29
hey @mohit200008  can you assigned me this ? i can do it by 2 to 3 days

[2022-01-30 20:16] mohit200008 commented on #29
Go ahead @sajdakabir

[2022-01-31 09:16] ishitaac commented on #42
I can work on this issue

[2022-01-31 11:07] mohit200008 commented on #42
yes go ahead @ishitaac

[2022-01-31 20:18] raxvab commented on #19
I want to work on this issue under JWOC.

[2022-01-31 20:38] ishitaac commented on #17
"I want to work on this issue under JWOC"

[2022-02-01 06:04] dilroseR commented on #13
Can you elaborate on this more since I would like to work on this issue under JWOC?
@mohit200008

[2022-02-01 06:20] Sanket1308 commented on #20
I would like to contribute to this issue under JWOC. Kindly assign me to this issue

[2022-02-01 09:13] mohit200008 commented on #13
When you enter the bmi details like your age and weight etc, it shows you suggestions according to your BMI.But the problem is that the suggestions are not clear, for every bmi results the suggestions like what to eat and how much water to drink are same for every bmi.The results should be according to the BMI results.

[2022-02-01 09:31] dilroseR commented on #13
So you want to only change the section of Recommendation Idea right? And also, since flask is used for the backend, I couldn't find any file named app.py?

[2022-02-01 10:05] mohit200008 commented on #13
the backend has to be created and there's a separate issue for that

[2022-02-01 10:06] mohit200008 commented on #17
go ahead @ishitaac

[2022-02-01 10:14] mohit200008 commented on #20
yes @Sanket1308  go ahead

[2022-02-02 08:21] Sanket1308 commented on #20
Done. Kindly check.

[2022-02-05 04:21] zugzwang03 commented on #35
Hey Mohit sir, I would like to work on this issue under JWOC.

[2022-02-05 08:45] mohit200008 commented on #35
Go ahead @zugzwang03

[2022-02-06 16:21] DawoodBhai420 commented on #49
Hello Mohit,
I have trained the model and created UI using Flask.
But, I am not able to PUSH commits to origin.

I am getting the following error.

batch response: @DawoodBhai420 can not upload new objects to public fork
DawoodBhai420/medi-Care
error: failed to push some refs to '
https://github.com/DawoodBhai420/medi-Care.git'

Please help regarding this.
Thank You! Regards

On Sat, Jan 29, 2022

[2022-02-11 04:47] zugzwang03 commented on #35
Hey Mohit sir, I solved this issue under JWOC, but the respective PR count is not allotted to me there. Maybe you missed it...
I successfully completed my pull request also which has been closed.

[2022-02-14 06:28] mohit200008 commented on #35
wait i will check

[2022-02-14 09:09] zugzwang03 commented on #35
Yes sir, you need to label my pull request as jwoc and medium, then only the PR will get counted.

[2022-02-14 09:10] zugzwang03 commented on #35
https://github.com/mohit200008/medi-Care/pull/51 is the link to my closed pull request.

[2022-02-14 09:33] mohit200008 commented on #35
I changed the labels

[2022-02-14 10:35] zugzwang03 commented on #35
Sir, you have to label my closed pull request, not the issue.
https://github.com/mohit200008/medi-Care/pull/51 is the link to my closed pull request.
The JWOC authorities are referring to the labels of the closed pull requests for PR count.

[2022-02-14 12:13] mohit200008 commented on #35
Please check now

[2022-02-14 14:05] zugzwang03 commented on #35
Yeah, it's done. Thank you sir :)

[2022-02-26 01:42] hazemessam commented on #30
Can I use Node.js?

[2022-02-26 11:04] mo1998 opened #52 "Ocular Disease Recognition"

[2022-02-28 13:35] artimanputra commented on #17
I would like to work on this issue under GSSOC'22. Can I go ahead?

[2022-02-28 13:36] artimanputra commented on #29
Is this issue still open? I would like to work on this under GSSOC'22.

[2022-02-28 17:32] ikaushikpal opened #53 "Booking Doctor without any credentials"
In the doctor section, after clicking on `SET APPOINTMENT `.There without providing any name, age, or anything, just by clicking on `Confirm Your Booking`, it accepts the booking.

[2022-02-28 17:48] Vaishnavi1411 commented on #14
@mohit200008 Is this issue open? I wish to work on this as a GSSOC 22 participant.
Can you please assign this to me.

[2022-02-28 18:15] sulogna2001 commented on #53
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:15] sulogna2001 commented on #29
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:15] sagnik2001 commented on #17
Can I work on this under GSSoC 22

[2022-02-28 18:16] sulogna2001 commented on #45
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:16] sagnik2001 commented on #6
Can I work on this under GSSoC 22

[2022-02-28 18:16] sagnik2001 commented on #1
Can I work on this under GSSoC 22

[2022-02-28 18:16] sulogna2001 commented on #1
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:16] sagnik2001 commented on #29
Can I work on this under GSSoC 22

[2022-02-28 20:27] haider000 commented on #29
Hey, I am interested to work on this issue under GSSoc 2022, can you assign me this issue?

[2022-03-01 03:47] SayanSaha01 opened #54 "Add Covid Detection"
I wanted to add the Covid Detection model which predicts whether a person is covid +ve or not based upon chest X-Ray

[2022-03-01 07:27] mohit200008 commented on #30
yes @hazemessam  you can,Go Ahead

[2022-03-01 07:50] mohit200008 commented on #52
can you describe this issue ????

[2022-03-01 08:01] mohit200008 opened #55 "add the rubber band effect on the buttons"
https://codepen.io/chronisp/pen/WqGxdW
see this page, to get an idea

[2022-03-01 08:09] Anirban-1490 commented on #55
@mohit200008 have to do this effect for all buttons ? and assign it to me

[2022-03-01 08:26] mohit200008 opened #56 "Remove NA values with the actual accurate values in report"
When on the prediction page, when the user clicks on the predict page, He/she enters the parameters and gets the results, on the report  the normal values should be accurately fetched from the internet.And if the value entered is more than it should show in red, and if its in the range the value should be in green.

[2022-03-01 08:32] mohit200008 commented on #55
Yes and also add transition while navigating from one page to another

[2022-03-01 09:09] VSofficial commented on #42
Does it means, every particular doctor will have a interface, just like a social media profile or a collective list of doctors in cards

[2022-03-01 09:44] mohit200008 commented on #55
like when you navigate there's an ease in out transition and the loading spinner can be applied when user clicks on predict button

[2022-03-01 09:51] Anirban-1490 commented on #55
ok assign it to me under gssoc22

[2022-03-01 09:52] hazemessam commented on #30
Can you assign it to me please

[2022-03-01 09:55] mohit200008 commented on #30
Are you contributing under GSSOC @hazemessam ???

[2022-03-01 09:56] hazemessam commented on #30
Yup

[2022-03-01 09:56] mohit200008 commented on #30
okay

[2022-03-01 09:57] mohit200008 commented on #30
The backend is in flask, you have to do it in django

[2022-03-01 10:02] mohit200008 commented on #49
There's a slight change in plan @DawoodBhai420  , the project will be moved from flask to django so everything will be migrating to django

[2022-03-01 10:03] mohit200008 commented on #54
Yes you can work on this issue @SayanSaha01 .  Currently  the backend is on flask but it has to be migrated to django

[2022-03-01 10:12] mohit200008 commented on #42
we will implement a personal profile for a doctor too. But for now a collective list of doctors, and a dropdown of filters where people can filter doctors according to review and specialization of doctors

[2022-03-01 11:25] Ghanshyam88 commented on #45
Hello 👋
Is this issue still open.
If it is I would like to work on this issue.

[2022-03-01 12:22] Cody-coder017 commented on #52
i would like to work on this disease using the classifers on the disease data

[2022-03-01 14:27] Aditya3403 commented on #17
Sir I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 14:28] Aditya3403 commented on #29
Sir I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 14:30] Aditya3403 commented on #56
Sir I would like to work on this issue .Kindly assign this issue to me.

[2022-03-01 14:31] Aditya3403 commented on #55
Sir I would like to work on this issue. kindly assign this issue to me.

[2022-03-01 19:52] gautamgc17 opened #57 "Add multiclass Brain tumor classification and Alzheimer detection using MRI image"
Hey I wanted to add Brain tumor classification and Alzheimer classification model using MR images. Both the projects have a four-way classification.
-  Brain Tumors are classified as: Benign Tumor, Malignant Tumor, Pituitary Tumor and No tumor.
- The Alzheimer stage is classified into following: Mild Demented, Moderate Demented, Non Demented, Very Mild Demented

Additionally, we can show the GradC

[2022-03-02 02:17] mohit200008 commented on #57
Yes you can work on theses tasks. But make sure the backend has to be in django not flask.

[2022-03-02 09:28] Ashsenior commented on #31
Hey , mohit I have some previous experience using spotify api in my webapp  .I have searched for some newsapi and can integrate that into the webapp .
I'm a participant of GSSoC'22 .
Want me to work on it ??

[2022-03-02 09:33] Ashsenior commented on #31
And I saw that u were migrating the backend to django I can work on that also .

[2022-03-02 11:23] mohit200008 commented on #31
You can work on it and after completion you can send a demo before making a pr

[2022-03-02 12:28] Ashsenior commented on #31
do you want me to work on changing the backend or the news api ??

[2022-03-02 13:54] mohit200008 commented on #31
First change the backend

[2022-03-02 14:22] Ashsenior commented on #31
I will change the backend but it will require some time around 10-15 days because I have to recreate the app and I will convert all the html files into react components .

[2022-03-02 14:35] mohit200008 commented on #31
Sure go ahead but make sure everything works fine after your work is done

[2022-03-02 14:55] devanshpratapsingh opened #58 "Pneumonia Detection"
Most people who get COVID-19 have mild or moderate symptoms like coughing, a fever, and shortness of breath. But some who catch COVID-19 get severe pneumonia in both lungs. COVID-19 pneumonia is a serious illness that can be deadly.

I want to add a feature of pneumonia detection, I'll use Django for compatibility with the project.

[2022-03-02 14:57] devanshpratapsingh commented on #58
@mohit200008 please assign this to me.

[2022-03-02 15:52] Aman16-ai commented on #53
Can i work on it under gssoc22

[2022-03-02 17:20] tandrimasingha opened #59 "Heart Disease Prediction using ML"
Make a ML model that predicts the disease of heart with highest accuracy

[2022-03-02 17:20] tandrimasingha commented on #59
Please Assign this issue to me . I want to work on it.

[2022-03-02 19:10] MonarchGitHub opened #60 "Creating issue Forms for the repo"
I want to add a few issue Forms so that it will be convenient for new contributors to open issues. I plan to create  **Bug Report** and **Feature Request** Forms. You can read more about issue forms [here](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms)

**_The Bug Report issue form will have the following fields_**

- **D

[2022-03-03 05:42] mohit200008 commented on #55
yes go ahead @Anirban-1490

[2022-03-03 05:46] mohit200008 commented on #17
Yes @sagnik2001  you can work on this

[2022-03-03 05:48] mohit200008 commented on #29
yes @haider000  you can work on this issue

[2022-03-03 05:53] sagnik2001 commented on #17
Can you provide me the details you want in the footer.

[2022-03-03 14:31] #57 closed

[2022-03-03 15:26] somya1210 commented on #56
Sir I would like to work on this issue .

[2022-03-03 15:28] somya1210 commented on #13
I will like to work on this issue

[2022-03-03 15:33] somya1210 commented on #42
I will like to work on this issue

[2022-03-03 19:33] mohit200008 commented on #59
The heart disease prediction model is already there, but you can work on making the model more efficient and accurate. The backend is being migrated from flask to Django so work according to that.

[2022-03-03 19:34] mohit200008 commented on #58
@devanshpratapsingh  yes go ahead

[2022-03-04 10:45] HarshKumarChoudary commented on #56
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 12:25] mohit200008 commented on #56
The label is already there

[2022-03-05 03:19] Ashsenior commented on #31
Hey , so I have completed the frontend and little bit backend part for shifting but I see that there are only prediction files in here one for heart and other for kidney ??

[2022-03-05 16:33] Khushi25pandey commented on #6
@mohit200008 I would like to work on this issue. Please assign it to me.

[2022-03-05 16:36] Khushi25pandey commented on #42
I would like to work on this issue. Please assign it to me @mohit200008

[2022-03-05 17:57] aryasoni98 opened #62 "Restructure Github Repository"

[2022-03-05 19:08] BhumikaJena commented on #45
Hey, I would like to make some improvements in  the disease prediction  page and make it more appealing for the users . I would be glad if u assign this project to me.
I am a GSSOC'22 participant.

[2022-03-05 19:58] mohit200008 commented on #45
go ahead @BhumikaJena  and share a demo before making a pr of the page

[2022-03-05 20:06] mohit200008 commented on #62
can you desrcibe in brief where you're going with this ??

[2022-03-05 20:25] BhumikaJena commented on #45
Thank you for assigning me.

Sent from Mail for Windows

From: MOHIT LAMBA
Sent: Sunday, March 6, 2022 1:28 AM
To: mohit200008/medi-Care
Cc: BhumikaJena; Assign
Subject: Re: [mohit200008/medi-Care] Redesign the disease prediction page(Issue #45)

go ahead @BhumikaJena and share a demo before making a pr of the page
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receivin

[2022-03-06 05:46] Ashsenior commented on #31
i have shifted the backend and everything seems to be working fine should i create a new issue for the shifting backend and make a PR for that ??

[2022-03-06 12:53] mohit200008 commented on #31
okay make a pr the mentors will check  the code, also provide  a code to confirm that things are working as expected

[2022-03-06 13:05] Ashsenior opened #63 "Shifting backend from Flask to Django"
I have shifted the backend and converted all html files into react components assign me this issue @mohit200008 so that I can make a PR for this .

[2022-03-06 13:18] mohit200008 commented on #63
make a pr for this and the project mentors will be reviewing your code

[2022-03-06 14:58] mohit200008 commented on #62
you can work on this @aryasoni98

[2022-03-06 15:12] mohit200008 commented on #30
the form is there on the doctors page and it contains the fields to be stored

[2022-03-06 15:13] mohit200008 commented on #30
The doctors page will b such that it can be filtered by area of specialization and rating of doctors

[2022-03-06 17:50] aryasoni98 opened #65 "Add Docker Image"

[2022-03-06 18:31] mohit200008 commented on #60
yes go ahead @MonarchGitHub

[2022-03-07 10:12] #62 closed

[2022-03-07 10:13] mohit200008 commented on #63
Please make the pr if the work is done @Ashsenior

[2022-03-07 10:17] Ashsenior commented on #63
Actually I'm trying to push the project but because I made that project on completely different folder and I have to upload the full project it gitbash is showing some error **rpc failed err 8**

[2022-03-07 10:18] Ashsenior commented on #63
I have seen some soln and will see if it will work today evening .
Sorry for the inconvenience and if u can help with this error it will be very helpful 🙂.

[2022-03-07 13:16] mohit200008 commented on #56
@HarshKumarChoudary  you can take up this issue

[2022-03-07 22:48] hazemessam commented on #30
@mohit200008  I will start working on it tomorrow.

[2022-03-08 04:19] mohit200008 commented on #63
send a sc on discord the mentors will help

[2022-03-08 20:33] Yourstruggle11 opened #67 "404 Page missing"
# All websites need a 404 page, so if you add a 404 page user interaction / user experience will be better

[2022-03-10 14:26] mohit200008 commented on #67
yes go ahead

[2022-03-10 17:48] AdnanMuzavor opened #69 "Improve home page"
Improve home page by adding some good looking border to cards, some hover effects and responsive look on mobile devices

[2022-03-10 17:55] harsh5902 opened #70 "Optimizing the images"
While going through code and running it I came across that it takes lot of time to load the website. As there are lot of images in the website there is a high probability that images are not optimized properly which causes slow loading.

Assign me the issue I will solve the slow loading issue by optimizing images, removing excessive CSS(another factor) or any other factor.

[2022-03-10 18:00] mohit200008 commented on #70
Okay go ahead @harsh5902

[2022-03-10 19:08] mohit200008 commented on #69
Yes @AdnanMuzavor  you can work on it

[2022-03-10 20:39] harsh5902 commented on #70
Shall I add my image optimizing code as well? So that in future anyone wants to add the image they can optimize it first and then add it.

[2022-03-11 07:23] mohit200008 commented on #70
Yes

[2022-03-11 07:24] mohit200008 commented on #70
But make sure it doesn't give any errors

[2022-03-12 09:13] harsh5902 commented on #19
Can I work on this issue?? or is it assigned already?

[2022-03-12 09:25] mohit200008 commented on #19
Yes go ahead @harsh5902

[2022-03-12 16:02] 2701gouravgoel commented on #63
@Ashsenior pls reach me for help.

[2022-03-12 17:03] prabhkaur301 opened #73 "Language toggle not working properly"
## Issue Type:

- [X] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Once the language get changed from English to Hindi , it does not toggle back to English on clicking the button.

I'm GSSOC'22 participant, please assign this issue to me

[2022-03-12 17:20] mohit200008 commented on #73
Go ahead @prabhkaur301

[2022-03-12 21:09] mohit200008 commented on #69
please can you also improve the disease prediction page too ???

[2022-03-13 06:23] #60 closed

[2022-03-13 06:28] mohit200008 opened #74 "Chatbot not opening"
### What happened?

The chatbot is not opening on clicking.

### How can we reproduce this bug?

The chatbot should open as there in the screenshot in readme

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

Medium priority

[2022-03-13 09:27] harsh5902 commented on #74
I am working on the chatbot.

[2022-03-13 11:14] AdnanMuzavor commented on #69
Okay, I'll raise an issue for it.

[2022-03-13 11:16] AdnanMuzavor opened #75 "Improve disease prediction page"
### What happened?

This page should look good so that user decides to continue with it.

### How can we reproduce this bug?

By making page look better.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-03-13 16:25] mohit200008 commented on #74
Okay @harsh5902

[2022-03-13 17:03] gayatrisakure commented on #67
I would like to work on this issue under GSSoC'22.  If it is still available please assign it to me. Thanks.

[2022-03-13 18:42] prabhkaur301 commented on #73
Solved the issue & PR created #76

[2022-03-14 20:27] Diishasing commented on #45
hi @mohit200008
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot from this work.

[2022-03-14 20:29] Diishasing commented on #13
Hi @mohit200008
Please let me work on this feature. I am a GSSOC'22 participant. I can really learn a lot in this work.

[2022-03-14 20:29] mohit200008 commented on #13
Sure @dilroseR  go ahead

[2022-03-17 11:32] #75 closed

[2022-03-17 11:32] #74 closed

[2022-03-18 17:13] Priyanshi662 commented on #42
I would like to work on this issue under GSSOC'22 .Kindly assign it to me @mohit200008

[2022-03-18 17:15] mohit200008 commented on #42
Go ahead @Priyanshi662

[2022-03-19 12:13] #70 closed

[2022-03-19 15:08] aktamoli0910 opened #81 "Redesign the scroll bar and remove the horizontal scroll."
### Issue

Fix the width of the page so that there is no horizontal scroll and the scroll bar is quite basic. Please redesign the scrollbar to make it a bit attractive.

###  Solution we'd like.

The new designed scroll bar should be #CC5500 in color and add some roundness to the edges as well.

[2022-03-19 15:11] aktamoli0910 opened #82 "Add a back to top with required funcationality."
### Is your feature request related to a problem? Please describe.

The user is always frustrated when he/she has to scroll back to the top, so add a button for this functionality.

### Describe the solution you'd like.

The button should have an attractive design and should be fixed in the bottom right corner of the page.

### Describe alternatives you've considered.

_No response_

### Add any o

[2022-03-19 16:27] RaviAnand111 commented on #82
I would like to work on this issue @aktamoli0910

[2022-03-19 16:37] RaviAnand111 commented on #17
Hey @sagnik2001 if you are not working on this issue, then can I do it, @mohit200008 @aktamoli0910 .
Thanks

[2022-03-20 05:49] vinrusty commented on #81
Can I please work on this issue?

[2022-03-20 07:06] mohit200008 commented on #81
Sure go ahead @vinrusty

[2022-03-21 08:46] Muskan626bidani commented on #69
@mohit200008 Hi, can I work on this issue if this is still open under GSSOC'22

[2022-03-21 09:22] mohit200008 commented on #69
@Muskan626bidani  this issue has already been resolved. You can look up for other issues

[2022-03-21 09:22] #69 closed

[2022-03-21 19:38] #81 closed

[2022-03-25 12:02] aktamoli0910 commented on #82
any update @RaviAnand111 ?

[2022-03-25 12:02] nitishsaini706 commented on #82
@RaviAnand111 Are you working on it , it's been a whole week

[2022-03-25 12:03] #73 closed

[2022-03-26 07:37] RaviAnand111 commented on #82
I contacted all the mentors regarding the problems I was facing, I have not got any replies yet.

[2022-03-26 09:42] vinrusty commented on #82
Can I work on this issue?

[2022-03-27 19:16] hazemessam commented on #30
https://user-images.githubusercontent.com/49886457/160296999-4f32faf7-4288-4709-8572-adf3c0561023.mp4

[2022-03-27 20:32] RusJaI opened #84 "Add a 'Back' or 'Cancel' button to the disease prediction page"
### Is your feature request related to a problem? Please describe.

when you select a disease and click on predict button, you will be navigated to a new page to predict the pssibility of that particular disease. But if you have clicked it by mistake, you don't have any option to cancel and go back, in current UI.

### Describe the solution you'd like.

Add a cancel button to the UI for predict di

[2022-03-27 20:33] RusJaI commented on #84
I would like to work on this issue for GSSOC22

[2022-03-27 20:34] mohit200008 commented on #84
@RusJaI  go ahead

[2022-03-27 20:45] RusJaI commented on #84
can you please add the labels for level and GSSOC22

[2022-03-28 09:20] RusJaI commented on #84
hey, I looked at the codebase. But found that you are navigating to some external (hosted)  url's for predicting.
path for that file : medi-Care\src\components\DiseasePred\Data.js

For now I can change the code, but it wont work because of the above fact. What do you suggest?

[2022-03-28 15:36] Ashsenior commented on #63
hey @mohit200008 I have tested the back
![Screenshot (83)](https://user-images.githubusercontent.com/49332381/160434706-e7f65fae-ae5c-45e3-b4b4-e519e091301b.png)
end and separated it from frontend
Please share the new repo
![Screenshot (84)](https://user-images.githubusercontent.com/49332381/160434765-214f6223-6269-4d8e-bf1c-f8a7e035370f.png)

[2022-03-28 15:43] mohit200008 commented on #63
Just share the files

[2022-03-29 17:28] mohit200008 commented on #84
For now you can change the code and if you can solve it , you can create a seperate issue for it

[2022-03-29 20:25] Shweta2024 opened #85 "Breast Cancer Prediction"
Hello! I'm a GSSoC'22 Contributor. I would like to do EDA followed by using Logistic Regression and Decision Tree for predicting Breast Cancer. Please assign me this task.
Thank you!

[2022-03-29 21:09] mohit200008 commented on #85
Yes you can work on it @Shweta2024

[2022-03-30 09:22] RusJaI commented on #84
I can change the code and push it. But cannot test because it's just a sample html page .  There's no any corresponding Javascript file in this repository.  An external url for that prediction page is directly hardcoded.

[2022-03-30 12:31] nitishsaini706 opened #86 "[Bug Title here] Navbar needs to be updated"
### What happened?

issue #1
![navbar ](https://user-images.githubusercontent.com/39373956/160834204-a85d2d56-b8a2-4fab-91ec-0806dafd036a.jpg)

### How can we reproduce this bug?

This is related to issue #1 ,also navbar needs some changes in background color
Scrolling effect background change to transparent

![navbar issue](https://user-images.githubusercontent.com/39373956/160834984-62163d57-3fc

[2022-03-31 17:05] YashJain2409 commented on #29
Is this issue open?

[2022-04-01 09:08] harsh5902 commented on #19
Speech recognition is not needed as per my opinion because we have already provided options to the questions in the chatbot itself. But we can add speech synthesis, shall I work on this one?

[2022-04-01 09:31] mohit200008 commented on #19
Yes you can work on that

[2022-04-01 13:40] Ashsenior commented on #63
Any update ?? @2701gouravgoel  @mohit200008

[2022-04-01 19:12] mohit200008 commented on #86
@nitishsaini706  you can work on this issue

[2022-04-01 20:28] harsh5902 opened #88 "Daibetes report not running well"
### What happened?

The report is all scrumbled around the values, which I entered.

### How can we reproduce this bug?

I will make the values at place and see how the prediction can be done better.

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-04-03 08:54] mohit200008 commented on #88
you can take up this issue @harsh5902  and before making a pr, make sure to test everything's working fine

[2022-04-03 19:19] mohit200008 commented on #82
@RaviAnand111  you can place the icon for back to top near the chatbot.

[2022-04-04 05:29] nitishsaini706 commented on #86
@mohit200008 Can you review my pr as i dont think it's level 1 , it's level 2 work i've done .

[2022-04-04 06:25] #1 closed

[2022-04-04 08:04] mohit200008 opened #90 "Chatbot taking the whole page"
When the user opens the chatbot in mobile screen, the chatbot take up the whole page and the cross button of the chatbot falls behind the navbar.

[2022-04-04 08:14] mohit200008 commented on #54
@SayanSaha01  you working on this issue ?

[2022-04-04 08:15] mohit200008 commented on #49
@DawoodBhai420 can you send me the files you worked in ??

[2022-04-04 08:16] mohit200008 commented on #49
On discord in a seperate zip

[2022-04-05 18:18] rohitpadage commented on #85
I'm a GSSoC'22 Contributor.
I would like to work on this issue by implementing different ml algorithms for Breast Cancer prediction.

[2022-04-05 18:19] mohit200008 commented on #85
go ahead @rohitpadage

[2022-04-07 02:59] vinrusty commented on #90
Can I please work on this issue?

[2022-04-10 07:15] 19arnab190201 opened #91 "Give a modern card look for doctor and disease cards"
Give a modern card look by upgrading the ui for doctor and disease cards

[2022-04-13 17:58] aktamoli0910 commented on #91
Go on @19arnab190201 . I've assigned you the issue.

[2022-04-13 18:00] #55 closed

[2022-04-13 18:00] #86 closed

[2022-04-14 07:05] mohit200008 commented on #85
Any update @Shweta2024

[2022-04-14 09:53] Shweta2024 commented on #85
Sir, I have created a PR, please review it.

PR Link :- https://github.com/mohit200008/medi-Care/pull/92

[2022-04-16 15:22] ishashukla183 commented on #63
I would like to work on this issue

[2022-04-16 15:23] ishashukla183 commented on #59
I would like to work on this issue if it's still open

[2022-04-18 09:57] #65 closed

[2022-04-19 18:02] mohit200008 commented on #88
@harsh5902  any update on this ??

[2022-04-20 10:52] harsh5902 commented on #88
Sorry for delay, but due to some work I was unable to work on it, I will begin to work on this issue shortly!!

[2022-04-21 15:36] TG922 opened #94 "Adding a back to top button"
### Is your feature request related to a problem? Please describe.

A user is always irritated when he/she has to scroll back to the top if page is too lengthy so adding a back to top button will be helpful.

### Describe the solution you'd like.

I would like to add back to top button

### Describe alternatives you've considered.

_No response_

### Add any other context or screenshots about the

[2022-04-21 15:37] mohit200008 commented on #94
Go ahead @TG922

[2022-04-24 10:16] #63 closed

[2022-04-24 10:25] Ashsenior commented on #31
hey , @mohit200008 I am now working on this issue . Can you please reconsider it as a level3 issue .

[2022-04-26 15:23] Ashsenior commented on #14
Hey @mohit200008 i will change those NA values.
And in the project the Buttons in the disease prediction page are taking us to wrong url i will fix that to .

[2022-04-26 15:23] Ashsenior commented on #14
Can you reconsider it as a level3.
thnx

[2022-05-02 19:06] Ashsenior commented on #14
Please assign this issue to me I'll complete this in 3-4 days

[2022-05-02 19:07] mohit200008 commented on #14
Go ahead @Ashsenior

[2022-05-04 09:44] mohit200008 commented on #94
any update @TG922 ??

[2022-05-04 09:54] #67 closed

[2022-05-04 09:56] mohit200008 commented on #13
@Diishasing  Whats the status ???

[2022-05-04 09:56] #85 closed

[2022-05-04 09:58] mohit200008 commented on #56
@HarshKumarChoudary  is the issue completed ???

[2022-05-09 19:21] #31 closed

[2022-05-14 07:55] shubhsardana29 opened #98 "Adding table of content in README.md"
i want to add table of contents in readme.md . this will make it easier to read and understand project better.

[2022-05-14 17:44] piyusha2001 opened #99 "Add Doctor form validation"
### What happened?

There is no form validation for add doctor pop up. Also it is taking years of experience in negative .

### How can we reproduce this bug?

We can add form validation to the form so that no one can submit empty data . Also add doctor pop up only comes up after clicking on Doctor in navbar . We can provide separate button for that so that user doesn't have to go back and forth t

[2022-05-14 17:45] piyusha2001 commented on #99
Please assign me this issue under GSSoC'22 .

[2022-05-15 12:15] mohit200008 commented on #99
Yes @piyusha2001  you can work on this

[2022-05-15 12:56] piyusha2001 commented on #99
Thank you! Can you assign me by adding gssoc tag?

[2022-05-15 15:08] piyusha2001 commented on #99
Can you also add level tag ?

[2022-05-18 18:13] aktamoli0910 commented on #98
Go ahead @shubhsardana29

[2022-05-19 03:57] navyasharma0203 commented on #58
Can I work on this??

[2022-05-19 03:57] navyasharma0203 commented on #17
Can I work on this??

[2022-05-19 03:57] navyasharma0203 commented on #6
Can I work on this??

[2022-05-19 06:16] mohit200008 commented on #58
yes @navyasharma0203  go ahead

[2022-05-19 18:29] aktamoli0910 commented on #17
Okay @navyasharma0203, go ahead.

[2022-05-27 09:45] SHRUTI-SINGH16 commented on #94
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 09:47] SHRUTI-SINGH16 commented on #17
I would like to work on this issue. Please assign me as a GSSOC 2022 Contributor.

[2022-05-27 09:50] navyasharma0203 commented on #17
I'm almost done on this....sorry @SHRUTI-SINGH16

[2022-05-27 11:19] SHRUTI-SINGH16 commented on #17
No problem @navyasharma0203 .

[2022-05-28 07:23] piyusha2001 commented on #99
@mohit200008  please review this PR

[2022-05-28 17:36] whitewalker01 opened #103 "Chat Bot "typing" field not working"
### What happened?

"type the message" - field in the chatbot isn't taking user input.

GSSOC 2022 contributor, lemme work on this.

### How can we reproduce this bug?

step1 : Click on chatbot button
step2: click on "type the message field" at the bottom to start typing

not taking input from user

### Desktop Information (Optional)

_No response_

### Urgency (Optional)

_No response_

[2022-05-28 17:42] whitewalker01 opened #104 "Chatbot: "Give a random fun fact" functionality not working"
### What happened?

When hit on the prompted "give a random fun fact" button by the bot, no reply is being given out.

GSSOC 2022 Contributor, issue assignment will be appreciated.

### How can we reproduce this bug?

step1: click on the chatbot button
step2: start a conversation
step3: click on the random fun fact button when auto prompted

### Desktop Information (Optional)

_No response_

### U

[2022-05-28 17:54] mohit200008 commented on #103
Sure go ahead @whitewalker01

[2022-11-28 05:01] himanshu1221 commented on #94
As i have already made some back to top button i have confidence that i can make this button..I would like to work on this issue please assign this to me as a KWOC 22 contributor.

[2022-11-29 11:57] himanshu1221 commented on #82
@aktamoli0910 can i work on this issue ? for KWOC 22

[2022-11-29 12:02] mohit200008 commented on #82
the issues will be assigned once the coding period starts

[2022-11-30 11:28] himanshu1221 commented on #82
okay sir !

[2022-11-30 19:49] harsitagarwalla187 commented on #82
Can i work in this issue under KWOC 22?

[2022-11-30 19:49] harsitagarwalla187 commented on #17
Can i work in this issue under KWOC 22?